
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddPlan</title>
</head>
<body>
    <div> 
        <form>
            <input type="text" value="湘潭" /> <br />
            至  <br /> 
            <select><option>浏阳蓝思</option><option>榔梨蓝思</option><option>长沙蓝思</option></select><br />
            出发时间：<input type="datetime" value="@DateTime.Now" /><br />
            手机号码： <input type="text" value="13812345678" /><br />
            <button>提交</button> 
        </form>  
    </div>
</body>
</html>
