
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/scripts/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/scripts/jquery-3.2.1/jquery-3.2.1.js"></script> 
    <script src="~/scripts/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
</head>
<body>
    <div>
        <label>我发布的行程</label>
        <table>
            <thead>
                <tr>
                    <th>时间</th>
                    <th>起点</th>
                    <th>终点</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>06-25 18:30</td>
                    <td>浏阳蓝思</td>
                    <td>湘潭</td>
                    <td>删除</td>
                </tr>
                <tr>
                    <td>06-25 18:30</td>
                    <td>浏阳蓝思</td>
                    <td>湘潭</td>
                    <td>删除</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <form>
            <input type="text" value="湘潭" /> <br />
            至  <br />
            <select><option>浏阳蓝思</option><option>榔梨蓝思</option><option>长沙蓝思</option></select><br /><button>切换方向</button><br />
            出发日期：<input type="datetime" value="@DateTime.Now.ToString("MM-dd")" /><br />
            出发时间：<input type="datetime" value="@DateTime.Now.ToString("HH-mm")" /><br />
            手机号码： <input type="text" value="13812345678" /><br />
            <button>提交</button>
        </form>
    </div>

    @*<div> 
        <button onclick="location='@Url.Action("AddPlan","User")'">添加行程</button>             
    </div>*@
   
</body>
</html>
